/*<----Esto_es_la_cabecera--->*/
.cabecera{
	width: 100%;
	position: fixed;
	background-color: #696969;
	border-bottom: 9px solid rgba(0,0,0,0.3);
	display: inline-block;
}
.Nombre{
	margin-bottom: 10px;
	padding-top: 19px;
	text-decoration: none;
	float: right;
	font-weight: bold;
	color: #FCFDF3;
	padding-left: 5px;
}
.Nombre:hover{
	color: #16A085;
}
.usuario{
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;
	padding-top: 10px;
	
}
.datos{
	text-decoration: none;
	padding-left: 9px;
	color: white;
}
.datos:hover{
	color: #16A085;
}
.datos:hover{
	border-left: 2px solid #16A085;
}
.datosim:hover{
	border-left: 2px solid red;
}
.datosim{
	text-decoration: none;
	padding-left: 9px;
	color: red;
}
.datos_usuario{
	width: 29%;
	display: inline-block;
	float: right;
	color: white;
	margin-top: 25px;
	text-decoration: none;
}
/*<----Esto_es_el_inicio--->*/
.perfil{
	margin: 0;
	background-color: #000000;
	padding-bottom: 40px;
}
.Perfil_img{
	text-align: center;
	margin: auto;
	padding-top: 110px; 
}
.Perfil_img img{
	height: 330px;
}
.john_bottom{
	border-bottom: 2px solid white;
	width: 8%;
	color: white;
}
.div_redes_sociales{
	width: 70%;
	display: inline-block;
}
.redes_sociales1{
	margin-left:  420px;
	display: inline-block;
	border-top: 2px solid #FCFDF3;
	background: transparent;
	padding-top: 5px;
	padding-bottom:  5px;
}
.redes_sociales1:hover{
	border-color: #16A085;
	color: #16A085;
}
.redes_sociales2{	
	display: inline-block;
	border-top: 2px solid #FCFDF3;
	padding-top: 5px;
	margin-left: 10px;
}
.redes_sociales2:hover{
	border-color: #16A085;
	color: #16A085;
}
.redes_sociales3{
	font-size: 35px; 
	display: inline-block;
	color: white;
}
.redes_sociales4{	
	display: inline-block;
	border-top: 2px solid #FCFDF3;
	padding-top: 5px;
	margin-left: 10px;
}
.redes_sociales4:hover{
	border-color: #16A085;
	color: #16A085;
}
.redes_sociales5{	
	display: inline-block;
	border-top: 2px solid #FCFDF3;
	padding-top: 5px;
	margin-left: 10px;
}
.redes_sociales5:hover{
	border-color: #16A085;
	color: #16A085;
}
.boton_brillo{
	margin-left: 500px;
	border: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	padding-top: 10px;
	padding-right: 16px;
	font-size: 16px;
	background-color: transparent;
	line-height: 1.3333333;
	border-radius: 7px;
	color: white;
	margin-right: 16px;
}
.boton_brillo:hover{
	border-color: #16A085;
	color: #16A085;
}
.boton_carita{
	border: 1px solid #16A085;
	border-bottom: 2px solid #16A085;
	padding-top: 10px;
	padding-right: 16px;
	color: #16A085;
	border-radius: 7px;
	line-height: 1.3333333;
	background-color: transparent;
	font-size: 16px;
	margin-bottom: 50px;
}
.frase{
	font-size: 25px;
	color: white;
	margin-left: 570px;
}
.inicio_imagen{
	width: 100%;
}
.principal_imagen{
	paint-order: 100;
}
.redesSociales{
	margin: auto;
	text-align: center;
}
.redesSociales h2{
	display:inline-block;
	color: #E9EBFA ;
}
/*<----Esto_es_la_informacion--->*/
.informacion{
	padding-top: 80px;
	background-color: #F9FAFF  ;
	padding-bottom: 40px;
}
.informacion img{
	padding-left: 50px;
	width: 100px;
}
.informacion h3{

    border-bottom: 3px solid #000000;
    padding-bottom: 5px;
    max-width: 168px;
}
.info_nombre{
	color: #000000;
	padding-left: 50px;
}
.info_parrafo{
	padding-left: 50px;
	padding-right: 60px;
	color: #000000;
}
/*<----Esto_es_el_que_hago--->*/
.what_i_do{
	width: 100%;
	color: white;
	background-color: #000000;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.what_i_do img{
	padding-left: 30px;
}
.what_cabecera{
	width: 100%;
	text-align: center;
}
.what_cabecera h1{
	font-size: 55px;
}
.Mortal4{
	width: 20%;
	display: inline-block;
	margin-left: 100px;
	text-align: justify;
	font-size: 12px;
}
.Mortal4 img:hover {
	padding-bottom: 15px;




}
.hover1 p:hover {
	padding-bottom: 15px;
}
.Mortal4{
	width: 20%;
	display: inline-block;
	margin-left: 15px;
	text-align: justify;
	font-size: 12px;
}
.Mortal4{
	width: 20%;
	display: inline-block;
	margin-left: 15px;
	text-align: justify;
	font-size: 12px;
}
.what_i_do h2{
	text-align: center;
}
.Mortal4{
	width: 20%;
	display: inline-block;
	margin-left: 15px;
	text-align: justify;
	font-size: 12px;
	margin-bottom: 60px;
}
.specs{
	width: 100%;
	background-color: #FCFDF3;
	padding: 30px;
	border-top: 8px solid rgba(0,0,0,0.1);	
}
/*<----Estas_son_las_especificaciónes_del_cliente--->*/
.especificaciónes b{
	border-bottom: 2px solid red;
	color: #000000;
}
.especificaciónes img{
	padding-left: 50px;
}
.cliente{
	width: 15%;
	display: inline-block;
	
}
.happy_clients{
	display: inline-block;
}
.clientes{
	display: inline-block;
}
.codigo{
	width: 15%;
	display: inline-block;
}
.emails{
	width: 15%;
	display: inline-block;

}
.telefono{
	width: 15%;
	display: inline-block;
}
.facebook{
	width: 15%;
	display: inline-block;
}
.coffee{
	width: 15%;
	display: inline-block;
}
/*<----Este_es_mi_ultimo_trabajo--->*/
.lista_cuadro{
	width: 100%;
	background-color: #696969;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.mitad_izquierda{
	width: 100%;
}
.mitad1{
	width: 49%;
	display: inline-block;
	color: white;
}
.mitad1 p{
	font-size: 14px;
}
.mitad_1{
	width: 100%;
	padding-left: 20px;
}
.mitad1_11{
	width: 28%;
	display: inline-block;	
}
.mitad1_11 img{
	padding-left: 90px;
}
.mitad1_12{
	width: 68%;
	display: inline-block;
}
.mitad2{
	width: 49%;
	display: inline-block;
	padding-left: 20px;
	padding-bottom: 50px;
}
.cabecera_lista {
	color: white;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}
.acción{
	margin-left: 200px;
	margin-bottom: 50px;
	border: 1px solid #DB4F58;
	border-bottom: 4px solid #EF4242;
	padding-top: 10px;
	padding-right: 16px;
	font-size: 16px;
	background-color: #ED5A64;
	line-height: 1.3333333;
	border-radius: 7px;
	color: white;
	margin-right: 16px;
}
.acción:hover{
	background-color: #F23B3B;
}
/*<----Esto_es_una_referencia--->*/
.cabecera_steve{
	width: 100%
	border-style: solid;
	background-color: #FCFDF3;
	border-top: 8px solid rgba(0,0,0,0.1);
	border-bottom: 9px solid rgba(0,0,0,0.1);
}
.steve_jobs{
	width: 40%;
	background-color: #FCFDF3;
	border-width: #FCFDF3;
	text-align: right;
	margin-left: 350px;	
}
.steve_jobs p{
	color: #FCFDF3;
}
.derecha{
	color: #000000;
}
.texto{
	width: 80%;
	color: #000000
}
.steve_jobs p{
	width: 80%;
	text-align: right;
	color: #000000	
}
/*<----Esto_son_referencias--->*/
.cuadros{
	width: 100%;
	background-color: #000000;
}
.referencias{
	width: 100%;
	text-align: center;
	color: white;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.referencias h1{
	font-size: 45px;
}
.tablas_imagenes{
	margin: 0 auto;
}
/*<----Estos_son_comenterios--->*/
.posts{
	background-color: #696969;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.blog_posts{
	color: white;
	text-align: center;
}
.blog_posts h2{
	color: white;
}
.targetas{
	display: flex;
	margin-top: 40px;
}
.caso1{
	width: 25%;
	padding: 3px;
	float: left;
	margin-left: 100px;
	background-color: #000000;
	margin-bottom: 100px;
}
.blanco{
	color: white;
}
.modolectura{
	border: 1px solid #DB4F58;
	display: inline-block;
	border-bottom: 4px solid #ED5A64;
	padding-right: 16px;
	font-size: 15px;
	background-color: #ED5A64;
	line-height: 1.3333333;
	border-radius: 7px;
	color: white;
	margin-right: 5px;
	margin-left: 2px;
}
.modolectura:hover{
	background-color: #EF4242;
}

}
.fondo_blanco{
	background-color: #000000;
}
.reto1{
	display: inline-block;
	width: 18%;
	text-align: center;
	background-color: #7192C4;
	padding: 2px;
	border-radius: 5px;
}
.reto1:hover{
	background-color: #256CDA; 
}
.reto2:hover{
	background-color: #256CDA;
}
.reto3:hover{
	background-color: #256CDA;
}
.reto4:hover{
	background-color: #256CDA;
}
.reto2{
	width: 38%;
	display: inline-block;
	text-align: center;
	background-color: #7192C4;
	padding: 2px;
	border-radius: 5px;
}
.reto3{
	width: 18%;
	display: inline-block;
	text-align: center;
	background-color: #7192C4;
	padding: 2px;
	border-radius: 5px;
}
.reto4{
	width: 18%;
	display: inline-block;
	text-align: center;
	background-color: #7192C4;
	padding: 2px;	
	border-radius: 5px;
}

.caso2{
	width: 25%;
	padding: 3px;
	float: left;
	margin-left: 20px;
	background-color: #000000;
	margin-bottom: 100px;
}

.caso3{
	width: 25%;
	padding: 3px;
	float: left;
	margin-left: 20px;
	background-color: #000000;
	margin-bottom: 100px;
}

.white_fondo{
	width: 100%
	background-color: #000000;
}

body{
	padding: 0;
	margin: 0;
	background-color: #696969;
	overflow-x: hidden;
}
/*<----Estos_son_los_precios--->*/
.plans{
	width: 25%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	border-radius: 8px;
	margin-left: 10px;
	background-color: #f0f0f0;
	display: inline-block; 
	margin-left: 80px;
	margin-bottom: 50px;
}

.planss{
	width: 100%;
	background-color: #000000;
	border-top: 8px solid rgba(0,0,0,0.1);
}

.cabecera_plans{
	width: 100%;
	text-align: center;
	color: white;
}
.cabecera_plans h1{
	font-size: 40px;
}
.cuadro_arriba{
	width: 100%;
	background-color: #7192C4;
	padding-bottom: 20px;
	color: #256CDA;
}
.header_circulo{
	width: 100%;
	text-align: center;
	color: #256CDA;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.circulo{
	width: 6%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	text-align: center;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	border-radius: 200px;
	margin-left: 145px;
	font-size: 20px;
	background-color: white;
}
.lista_plans p{
	text-align: center;
	background-color: #256CDA;
}
.lista_plans ul{
	padding-left: 117px;
}
.fondo_boton{
	background-color: #256CDA;
}
.button_plans{
	border: 1px solid #DB4F58;	
	border-bottom: 4px solid #EF4242;
	padding-top: 10px;
	padding-right: 16px;
	font-size: 12px;
	background-color: #ED5A64;
	line-height: 1.3333333;
	border-radius: 7px;
	color: white;
	padding-left: 16px;
	margin-left: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.button_plans:hover{
	background-color: #EF4242;
}
.cuadro_arriba2{
	width: 100%;
	background-color: white;
	padding-bottom: 20px;
	color: #2C3E50;
}
.circulo2{
	color: white;
}
.header_circulo2{
	width: 100%;
	text-align: center;
	color: #2C3E50;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.circulo2{
	width: 6%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	text-align: center;
	padding-left: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	border-radius: 200px;
	margin-left: 145px;
	font-size: 20px;
	background-color: #2DBAD6;
}
.lista_plans1{
	background-color: #e0e0e0;
}
.circulo3{
	width: 6%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	text-align: center;
	padding-left: 5px;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	border-radius: 200px;
	margin-left: 145px;
	font-size: 20px;
	background-color: white;
}
/*<----Estos_son_los_testimonios--->*/
.testimonios{
	width: 100%;
	background-color: #16A085;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.testimonios{
	width: 100%;
	background-color: #696969;
}
.cabecera_test{
	width: 100%;
	text-align: center;
}
.cabecera_test{
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.union_divs{
	width: 100%;
	display: flex;
	margin-left: 118px;
	color: white;
	padding-bottom: 40px;
	padding-top: 40px;
}
.union1{
	padding-left: 30px;
	display: inline-block;	
}
.union2{
	width: 25%;
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	background-color: #696969;
	border-radius: 10px;
}
.puntos{
	border-bottom: 1px dashed #494A4F;
	font-style: italic;
	color: #2f403e;
}
.parrafo_white{
	color: white;
}
.union3{
	padding-left: 30px;
	display: inline-block;
}
.union4{
	width: 25%;
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	background-color: #696969;
	border-radius: 10px;
}
/*<----Esto_es_el_contacto_directo--->*/
.contacto{
	width: 100%;
	background-color: #000000;
	border-top: 8px solid rgba(0,0,0,0.1);
}
.divs_contacto{
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	border-radius: 8px;
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #256CDA;
}
.formulario{
	width: 55%;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 30px;
	padding-left: 20px;
}
.button_form{
	border: 1px solid #DB4F58;
	border-bottom: 4px solid #EF4242;
	padding-top: 10px;
	padding-right: 16px;
	font-size: 12px;
	background-color: #ED5A64;
	line-height: 1.3333333;
	border-radius: 7px;
	color: white;
	margin-left: 140px;
	margin-top: 20px;
}
.persona div{
	background-color: #7C2DD6;
	padding: 3px;
}
.persona {
	width: 30%;
	display: inline-block;
	margin-left: 8px;
}
.persona p{
	color: white;
}
.persona img{
	padding-left: 20px;
}
.direccion{
	border-radius: 5px;
}
.info{
	border-bottom: 1px dashed;
}
/*<----Estos_es_el_final--->*/
.final{
	background-color: #000000;
	text-align: center;
	padding: 100px;
	color: white;
}
.final a:hover{
	border-radius: 100px;
}
.John_Doe1{
	width: 45%;
}
.div_JohnDoe1{
	border-style: solid;
}
.button_form:hover{
	background-color: #EF4242;
}